@model QLSV.Models.DangKy
@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Đăng ký";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Đăng ký";
    ViewData["BreadcrumbThree"] = "Danh sách đăng ký";
    ViewData["BoxTitle"] = "Danh sách đăng ký";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_TableIndexLayout";
}
<div class="box-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MahpNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MahpNavigation.Mahp)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.MssvNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MssvNavigation.Mssv)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <a asp-action="Edit" asp-route-Mahp="@Model.Mahp" asp-route-Mssv="@Model.Mssv" class="btn btn-warning fa fa-edit"> Sửa</a>
    <a class="btn btn-default pull-right" asp-action="Index">Quay lai</a>
</div>
