@model QLSV.Models.HocPhan

@{
    ViewData["Title"] = "Xóa";
    ViewData["Heading"] = "Học phần";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Học phần";
    ViewData["BreadcrumbThree"] = "Xóa";
    ViewData["BoxTitle"] = "Xóa";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_TableIndexLayout";
}
<h3>Bạn có muốn xóa không?</h3>
<div class="box-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenmon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenmon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Siso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Siso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phonghoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phonghoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiethoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiethoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaybd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaybd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ngaykt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaykt)
        </dd>
    </dl>
</div>
<div class="box-footer">
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger pull-right" /> 
            <a class="btn btn-default pull-left" asp-action="Index">Quay lai</a>
        </div>
    </form>
    
</div>