@{ 
    Layout = "_Layout";
}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Heading"]
            <small>@ViewData["SmallHeading"]</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["BreadcrumbOne"]</a></li>
            <li><a href="#">@ViewData["BreadcrumbTwo"]</a></li>
            <li class="active">@ViewData["BreadcrumbThree"]</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewData["BoxTitle"]</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="dataTables_length" id="example1_length">
                                        <form asp-action="Index" method="get">
                                            <label>
                                                Hiển thị
                                                <select name="PageSize" aria-controls="example1" class="form-control input-sm" value="@ViewData["currentSize"]" onchange="this.form.submit()">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> phần tử

                                            </label>
                                         </form>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
                                </div>
                                <div class="col-sm-4">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <form asp-action="Index" method="get">
                                            <label>@ViewData["Search"]:<input type="search" name="SearchString" value="@ViewData["currentFilter"]" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                                            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

