@model QLSV.Models.SinhVien

@{
    ViewData["Title"] = "Xóa";
    ViewData["Heading"] = "Xóa";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Sinh viên";
    ViewData["BreadcrumbThree"] = "Xóa";
    ViewData["BoxTitle"] = "Xóa";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_TableIndexLayout";
}
<h3>Bạn có muốn xóa không?</h3>
<div class="box-body">

    <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Hoten)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hoten)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Namsinh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Namsinh)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gioitinh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gioitinh)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sdt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sdt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Diachi)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Diachi)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nganh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nganh)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Lop)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Lop)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Hinhanh)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Hinhanh)
                </dd>
            </dl>
        </div>
        <div class="box-footer">
            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-danger pull-right" />
                    <a class="btn btn-default pull-left" asp-action="Index">Quay lai</a>
                </div>
            </form>

        </div>