@model QLSV.Extension.PaginatedList<QLSV.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Sinh viên";
    ViewData["SmallHeading"] = "";
    ViewData["BreadcrumbOne"] = "QLSV";
    ViewData["BreadcrumbTwo"] = "Sinh vien";
    ViewData["BreadcrumbThree"] = "Danh sách sinh vien";
    ViewData["BoxTitle"] = "Danh sách sinh vien";
    ViewData["Search"] = "Tìm học phần";
    Layout = "_TableIndexLayout";
}

<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

    <div class="row">
        <div class="col-sm-4">
            <div class="dataTables_length" id="example1_length">
                <form asp-action="Index" method="get">
                    <label>
                        Hiển thị
                        <select asp-for="PageSize" asp-items="@(new SelectList(@ViewBag.SoLuong,"Value","Value"))" onchange="this.form.submit()" class="form-control input-sm"></select>
                        @*<select name="PageSize" aria-controls="example1" class="form-control input-sm" value="50" onchange="this.form.submit()">
                            <option disabled>Xin chọn</option>
                            <option value="10"> 10</option>
                            <option value="20"> 20</option>
                            <option value="50"> 50</option>
                            <option value="100">100</option>
                        </select> phần tử*@
                    </label>
                </form>
            </div>
        </div>

        <div class="col-sm-4 text-center">
            <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </div>
        <div class="col-sm-4">
            <div id="example1_filter" class="dataTables_filter">
                <form asp-action="Index" method="get">
                    <label>@ViewData["Search"]:<input type="search" name="SearchString" value="@ViewData["currentFilter"]" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                    <input type="submit" value="Tìm kiếm" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["HoTenSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Hoten)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NamsinhSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Namsinh)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["GioiTinhSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Gioitinh)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["SdtSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Sdt)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Email)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DiachiSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Diachi)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NganhSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Nganh)
                            </a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["LopSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @Html.DisplayNameFor(model => model.First().Lop)
                            </a>
                        </th>
                        <th>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Namsinh)
                        </td>
                        <td>
                            @if (item.Gioitinh.ToString() == "N")
                            {
                                @Html.DisplayName("Nam");
                            }
                            else
                            {
                                @Html.DisplayName("Nữ");
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nganh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lop)
                        </td>
                        <td>
                            <img src=" @Html.DisplayFor(modelItem => item.Hinhanh) " alt="Hinh anh" style="width: 30px; height: auto;" onError="this.onerror=null;this.src='images/training-icon-9.jpg';">

                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Mssv" class="btn btn-warning fa fa-edit"></a> 
                            <a asp-action="Details" asp-route-id="@item.Mssv" class="btn btn-success fa fa-newspaper-o"></a> 
                            <a asp-action="Delete" asp-route-id="@item.Mssv" class="btn btn-danger fa fa-remove"></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                @{
                    int Min = (@Model.PageIndex - 1) * @Model.PageSize;
                    int Max = (@Model.PageIndex) * @Model.PageSize;
                }
                Hiển thị @Min to @Max trong @Model.Count phần tử
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }



                    <li class="paginate_button previous disabled" id="example1_previous">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            asp-route-pageSize="@ViewData["CurrentSize"]"
                           class="btn btn-default @prevDisabled btn">
                            Trước
                        </a>
                    </li>
                    <li class="paginate_button">
                        @if (Model.PageIndex - 2 > 0)
                        {
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex -2)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                asp-route-pageSize="@ViewData["CurrentSize"]"
                               class="btn btn-default @nextDisabled btn">
                                @(Model.PageIndex - 2)
                            </a>
                        }
                    </li>
                    <li class="paginate_button ">
                        @if (Model.PageIndex - 1 > 0)
                        {
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-page="@(Model.PageIndex -1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                asp-route-pageSize="@ViewData["CurrentSize"]"
                               class="btn btn-default @nextDisabled btn">
                                @(Model.PageIndex - 1)
                            </a>
                        }
                    </li>
                    <li class="paginate_button active">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            asp-route-pageSize="@ViewData["CurrentSize"]"
                           class="btn btn-default @nextDisabled btn">
                            @(Model.PageIndex)
                        </a>
                    </li>
                    <li class="paginate_button ">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            asp-route-pageSize="@ViewData["CurrentSize"]"
                           class="btn btn-default @nextDisabled btn">
                            @(Model.PageIndex + 1)
                        </a>
                    </li>
                    <li class="paginate_button ">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex + 2)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            asp-route-pageSize="@ViewData["CurrentSize"]"
                           class="btn btn-default @nextDisabled btn">
                            @(Model.PageIndex + 2)
                        </a>
                    </li>
                    <li class="paginate_button next" id="example1_next">
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                            asp-route-pageSize="@ViewData["CurrentSize"]"
                           class="btn btn-default @nextDisabled btn">
                            Kế
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>